html {
  background-color: #f2f1ed;
  font-family: 'Patua One', cursive;
  text-transform: uppercase;
}

b {

  color: #5d8432;
}

a {

  line-height: 1.5;
}

a,
a:link {
  color: #793284;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;

}

a:hover {
  color: #b42885;

}

img {

  width: 100%;

}

p {
  text-align: center;
  text-transform: none;
  font-style: italic;
}
